.advantages {
  @include reset;

  margin-bottom: 57px;

  @media (min-width: $width-medium) {
    margin-bottom: 85px;
  }

  @media (min-width: $width-large) {
    margin-bottom: 90px;
  }
}

.advantages__inner {
  @include positioner-small;
  padding-top: 40px;

  @media (min-width: $width-medium) {
    @include positioner-medium;
    padding-top: 38px;
  }

  @media (min-width: $width-large) {
    @include positioner-large;
    padding-top: 35px;
  }
}

.advantages__title {
  @include reset;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $color-black;

  @media (min-width: $width-medium) {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $width-large) {
    margin-left: 170px;
    margin-bottom: 50px;
    font-size: 53px;
    line-height: 57px;
  }
}

// .advantages__list-wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: flex-start;
//   width: 100%;
//
//   @include reset-ul;
//
//   @media (min-width: $width-large) {
//     width: 655px;
//     margin-right: 50px;
//     margin-left: 175px;
//   }
// }
//
// .advantages__item-group {
//   width: 100%;
//
//   @include reset;
//
//   @media (min-width: $width-medium) {
//     width: 50%;
//   }
//
//   @media (min-width: $width-large) {
//     width: 300px;
//   }
// }

.advantages__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  @include reset-ul;

  @media (min-width: $width-medium) {
    width: 100%;
  }

  @media (min-width: $width-large) {
    align-items: flex-start;
    width: 700px;
    margin: 0 auto;
    padding: 0;
  }
}

.advantages__item {
  position: relative;
  width: 100%;

  @include reset;
  padding-top: 55px;
  margin-top: 28px;

  &--flower {
    margin-top: 0;
  }

  @media (min-width: $width-medium) {
    width: 50%;
    margin-top: 55px;

    &--flower {
      order: 1;
      margin-top: 0;
    }

    &--money {
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--ball {
      order: 2;
      margin-top: 0;
    }

    &--rocket {
      order: 4;
    }

    &--gift {
      order: 6;
    }
  }

  @media (min-width: $width-large) {
    margin-top: 55px;

    &--flower,
    &--ball {
      margin-top: 0;
    }
  }
}

.advantages__icon {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  width: 60px;
  height: 40px;

  @include reset;
  margin-bottom: 14px;
  background-repeat: no-repeat;
  background-position: 0;

  @media (min-width: $width-medium) {
    // margin-bottom: 13px;
  }

  @media (min-width: $width-large) {
    margin-bottom: 0;
  }

  &--flower {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--money {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--heart {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--ball {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--rocket {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift {
    background-image: url("../img/icon-feature-gift.svg");
  }
}

.advantages__slogan {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $color-black;
  vertical-align: bottom;

  @media (min-width: $width-medium) {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
  }

  @media (min-width: $width-large) {
    width: 295px;
    margin-top: 0;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
  }
}
