.button-field {
  margin: 0;
  margin-left: 5px;
  padding: 0;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }
}

.button-field__label {
  @include reset;
}

.button-field__text {
  display: block;
  width: 80px;
  padding: 10px 25px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  border: 2px solid $color-basic;

  @media (min-width: $width-medium) {
    width: 110px;
  }

  &:hover {
    border: 2px solid $color-basic;
  }
}

.button-field__input:checked + .button-field__text {
  border: 2px solid $color-primary;
}
