.catalog {
  width: 100%;
  margin-top: 30px;
  padding: 0;
}

.catalog__inner {
  margin: 0 auto;

  @media (min-width: $width-medium) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $width-large) {
    margin: 0;
    padding: 0;
  }
}

.catalog__list-wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $width-medium) {
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: $width-large) {
    width: 1050px;
    margin: 0 auto;
  }
}

.catalog__list {
  @include reset-ul;

  @media (min-width: $width-medium) {
    flex-direction: column;
  }

  @media (min-width: $width-large) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -50px;
  }
}

.catalog__item {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  @media (min-width: $width-large) {
    display: flex;
    width: 316px;
    margin: 0;
    margin-left: 50px;
    padding: 0;
  }
}
