.catalog {
  @include width-full;
  margin-top: 30px;
  padding: 0;
}

.catalog__inner {
  margin: 0 auto;
}

.catalog__list {
  @include reset-ul;
}

.catalog__item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}
