.contacts {
  width: auto;

  @include reset;
  margin-top: 30px;

  @media (min-width: $width-medium) {
    margin: 0;
    margin-top: 35px;
  }

  @media (min-width: $width-large) {
    margin-top: 65px;
  }
}

.contacts__inner {
  width: 100%;

  @media (min-width: $width-medium) {
    width: 100%;

    @include reset;
  }

  @media (min-width: $width-large) {
    position: relative;

    @include positioner-large;
    padding-right: 575px;
  }
}

.contacts__text-wrapper {
  @include positioner-small;

  @media (min-width: $width-medium) {
    @include positioner-medium;
  }

  @media (min-width: $width-large) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin: 0;
    margin-top: 20px;
  }
}

.contacts__title {
  @include reset;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $color-black;

  @media (min-width: $width-medium) {
    margin-left: -5px;
    margin-bottom: 35px;
    padding: 15px 0;
    font-size: 43px;
    line-height: 50px;

    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }

  @media (min-width: $width-large) {
    margin-top: 55px;
    margin-bottom: 36px;
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
    background-position: 67px 7px;
  }
}

.contacts__list {
  width: 100%;

  @include reset;
  font-size: 15px;
  line-height: 30px;
  color: $color-basic;
  border-collapse: collapse;

  @media (min-width: $width-medium) {
    width: 100%;

    & tbody {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $width-large) {
    max-width: 300px;
    margin-left: 175px;
  }
}

.contacts__row {
  display: block;
  width: 100%;

  @include reset;
  margin-bottom: 28px;

  @media (min-width: $width-medium) {
    width: 50%;
  }

  @media (min-width: $width-large) {
    width: 100%;
    max-width: 300px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts__item {
  @include reset;
  padding-right: 30px;
  vertical-align: top;
  box-sizing: border-box;

  @media (min-width: $width-medium) {
    padding-right: 25px;
  }
}

.contacts__item-value {
  @include reset;
  vertical-align: top;

  &--mail {
    border-bottom: 1px solid $color-primary;

    &:hover {
      color: $color-primary-hovered;
    }

    &:active {
      color: $color-primary-hovered;
      border-bottom: 1px solid $color-primary-hovered;
    }
  }
}

.contacts__map-wrapper {
  position: relative;
  width: 100%;
  height: 460px;

  @include reset;
  margin-top: 40px;
  text-align: center;

  @media (min-width: $width-medium) {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 52px;
  }

  @media (min-width: $width-large) {
    position: absolute;
    top: 0;
    right: 0;
    width: 525px;
    margin: 0;
    padding: 0;
  }
}

.contacts__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $width-medium) {
    width: 100%;
  }

  @media (min-width: $width-large) {
    width: 100%;
    margin: 0;
  }
}

.contacts__map-image {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;

  @media (min-width: $width-medium) {
    width: 768px;
    height: 457px;
  }

  @media (min-width: $width-large) {
    width: 525px;
    height: 457px;

    @include reset;
  }
}

.contacts__map-pin {
  position: absolute;
  top: 145px;
  left: 140px;

  @media (min-width: $width-medium) {
    top: 145px;
    left: 365px;
  }

  @media (min-width: $width-large) {
    top: 140px;
    left: 245px;
  }
}
