.contacts {
  position: relative;
  width: auto;

  @include reset;
  padding-bottom: 40px;
}

.contacts__inner {
  @include positioner-small;

  @media (min-width: $width-medium) {
    @include positioner-medium;

    padding-top: 45px;
  }

  @media (min-width: $width-large) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @include positioner-large;
    margin-top: 60px;
  }
}

.contacts__title {
  @include reset;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $color-black;

  @media (min-width: $width-medium) {
    padding: 15px 0;
    font-size: 43px;
    line-height: 50px;

    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }

  @media (min-width: $width-large) {
    width: 50%;
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;

    background-position: 60px 0;
  }
}

.contacts__list {
  width: 100%;

  @include reset;
  font-size: 15px;
  line-height: 30px;
  color: $color-basic;
  border-collapse: collapse;

  @media (min-width: $width-medium) {
    width: 100%;

    & tbody {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $width-large) {
    width: 350px;
    margin-left: 175px;

    & tbody {
      flex-direction: column;
    }
  }
}

.contacts__row {
  display: block;
  width: 100%;

  @include reset;
  margin-bottom: 40px;

  @media (min-width: $width-medium) {
    width: 50%;
  }

  @media (min-width: $width-large) {
    width: 100%;
  }
}

.contacts__item {
  @include reset;
  padding-right: 30px;
  vertical-align: top;
  box-sizing: border-box;
}

.contacts__item-value {
  @include reset;
  vertical-align: top;

  &--mail {
    padding-bottom: 8px;
    border-bottom: 1px solid $color-primary;

    &:hover {
      color: $color-primary-hovered;
    }

    &:active {
      color: $color-primary-hovered;
      border-bottom: 1px solid $color-primary-hovered;
    }
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  text-align: center;

  @media (min-width: $width-medium) {
    top: 0;
    right: 0;
    widrh: 100%;
  }

  @media (min-width: $width-large) {
    position: absolute;
    top: 0;
    right: 50px;
    width: 525px;
    height: 455px;
  }
}

.contacts__map-image {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.contacts__map-marker {
  position: absolute;
  top: 145px;
  left: 140px;

  @media (min-width: $width-medium) {
    top: 145px;
    left: 365px;
  }

  @media (min-width: $width-large) {
    top: 140px;
    left: 245px;
  }
}

.contacts-button {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $width-medium) {
    width: 230px;
  }

  @media (min-width: $width-large) {
    width: 230px;
    margin-left: 275px;
  }
}
