.copyright {
  display: block;
  padding: 0;
}

.copyright__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;

  @media (min-width: $width-medium) {
    padding: 11px 0;
  }

  @media (min-width: $width-large) {
    padding-top: 5px;
  }

  &:hover .copyright__icon {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;

    & .copyright__icon {
      fill: #46c1ae;
      fill-opacity: 0.3;
    }
  }
}

.copyright__text {
  display: block;
  margin-right: 30px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 18px;
  color: $color-black;

  @media (min-width: $width-medium) {
    margin-left: auto;
  }
}

.copyright__icon {
  display: block;
  width: 30px;
  height: 35px;
  fill: $color-primary;
}
