.devider {
  content: "";
  display: block;
  width: 100%;
  max-width: 320px;
  height: 10px;
  margin: 0 auto;
  background-image: url("../img/bg-zigzag-line-min.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: auto 6px;

  &--popular {
    margin-top: 35px;
  }

  &--reviews {
    margin-top: 45px;
  }

  @media (min-width: $width-medium) {
    display: block;
    max-width: 768px;
    height: 28px;
    margin: 0 auto;
    background-size: auto 15px;

    &--popular {
      margin-top: 55px;
    }

    &--reviews {
      margin-top: 115px;
    }
  }

  @media (min-width: $width-large) {
    display: block;
    width: auto;
    max-width: 1050px;
    background-size: 45px 23px;

    &--popular {
      margin-top: 70px;
    }

    &--reviews {
      margin-top: 165px;
    }
  }
}
