.field-item {
  width: 100%;

  @include reset;
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $width-medium) {
    margin-top: 13px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &--checkbox {
    margin-bottom: 21px;

    @media (min-width: $width-medium) {
      width: 238px;
      margin: 0;
      margin-bottom: 25px;

      &:nth-child(5),
      &:nth-child(6) {
        margin-bottom: 0;
      }
    }

    @media (min-width: $width-large) {
      width: 208px;
    }
  }

  &--username {
    margin-top: 20px;

    @media (min-width: $width-medium) {
      margin-top: 11px;
    }
  }

  &--usermail {
    margin-bottom: 0;

    &:nth-child(2) {
      margin-top: 30px;
    }

    @media (min-width: $width-medium) {
      position: relative;
      width: 700px;

      &:nth-child(2) {
        margin-top: 22px;
      }
    }

    @media (min-width: $width-large) {
      &:nth-child(2) {
        margin-top: 22px;
      }
    }
  }

  &:hover .field-item__checker {
    border-color: $color-primary-hovered;
  }

  &:active .field-item__checker {
    border-color: $color-basic-30;
  }

  &--textarea {
    margin-top: 0;

    @media (min-width: $width-medium) {
      display: flex;
      margin-top: 0;
    }

    @media (min-width: $width-large) {
      width: 700px;
    }
  }
}

.field-item__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  @include reset;
  cursor: pointer;

  &--usermail {
    margin-top: 10px;

    @media (min-width: $width-medium) {
      margin-top: 0;
    }
  }
}

.field-item__text {
  display: block;
  width: 160px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $color-black;

  @media (min-width: $width-medium) {
    width: auto;
    font-size: 19px;
  }

  &--username {
    @media (min-width: $width-medium) {
      margin-right: 25px;
    }
  }

  @media (min-width: $width-large) {
    font-size: 19px;
  }
}

.field-item__input-wrapper {
  position: relative;
  width: 100%;

  @media (min-width: $width-medium) {
    & .field-item__input {
      width: 100%;
    }
  }
}

.field-item__icon {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 2;
  content: "";
  display: block;
  // background-repeat: no-repeat;
  // background-position: 0 0;
  fill: $color-basic-30;

  &--tel {
    right: 7px;
    width: 25px;
    height: 24px;
    // background-image: url("../img/icon-phone.svg");

    @media (min-width: $width-medium) {
      top: 16px;
      right: 26px;
    }

    @media (min-width: $width-large) {
      right: 5px;
    }
  }

  &--env {
    right: 5px;
    width: 32px;
    height: 28px;
    // background-image: url("../img/icon-mail.svg");

    @media (min-width: $width-medium) {
      top: 15px;
      right: 22px;
    }

    @media (min-width: $width-large) {
      right: 0;
    }
  }
}

.field-item__input {
  @include width-full;
  border: none;
  background-color: transparent;

  &[type="text"] {
    padding: 16px 0 16px;
    padding-right: 45px;
    font-size: 17px;
    line-height: 18px;
    border-bottom: 2px solid $color-black;

    &:hover,
    &:focus {
      border-color: $color-primary;

      & + .field-item__icon {
        fill: $color-primary;
      }
    }

    &::placeholder,
    &:hover::placeholder {
      color: $color-basic-30;
    }

    &:focus::placeholder {
      color: $color-basic;
    }

    @media (min-width: $width-medium) {
      padding-bottom: 18px;
      padding-left: 20px;
      font-size: 19px;
    }
  }

  @media (min-width: $width-medium) {
    width: auto;
    flex-grow: 1;
    padding-left: 20px;
  }

  &:checked + .field-item__checker--radio::after {
    display: block;
  }

  &:checked + .field-item__checker--checkbox {
    background-image: url("../img/icon-tick.svg");
    background-size: 33px 22px;
  }

  &:disabled + .field-item__checker {
    border-color: $color-basic-30;
  }
}

.field-item__checker {
  position: relative;
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  margin-right: 22px;
  border: 2px solid $color-basic;
  background-color: $color-white;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $width-medium) {
    width: 52px;
    height: 52px;
    margin-right: 28px;
  }

  &--radio {
    border-radius: 100%;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      display: none;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: $color-primary-hovered;
      transform: translate(-50%, -50%);
    }
  }
}

.field-item__textarea {
  width: 100%;
  height: 142px;
  margin-top: 25px;
  padding: 15px;
  border: 2px solid $color-basic;

  &:hover,
  &:focus {
    border-color: $color-primary;
  }

  &::placeholder,
  &:hover::placeholder {
    color: $color-basic-30;
  }

  &:focus::placeholder {
    color: $color-basic;
  }

  @media (min-width: $width-medium) {
    margin-top: 0;
    font-size: 19px;
  }
}

.field-item__require-text {
  @include reset;
  margin: 0;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $width-medium) {
    position: absolute;
    bottom: 14px;
    right: 0;
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $width-large) {
    bottom: 14px;
  }
}
