.field-container {
  width: 100%;
  margin-top: 32px;

  &--checkbox {
    margin-top: 26px;
  }

  &--usermail {
    margin-top: 5px;
  }

  @media (min-width: $width-medium) {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 30px;

    &--usermail {
      width: 100%;
    }
  }
}
