.hero {
  height: 175px;

  @include reset;
  background-color: $color-background;
  background-repeat: no-repeat;
  background-position: top center;

  &--bg-image {
    position: relative;
    height: 484px;
    background-image: url("../img/hero-mobile@1x.jpg");
  }
}

.hero__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  @include positioner-small;
  outline: 2px dotted rgb(247, 238, 231);

  @media (min-width: $width-medium) {
    @include positioner-medium;
  }

  @media (min-width: $width-large) {
    @include positioner-large;
  }
}

.hero__title {
  padding: 10px;
  padding-top: 80px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: $color-black;

  @media (min-width: $width-medium) {
    width: 500px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $width-large) {
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
}

.hero__links {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 260px;
  height: 103px;
  padding: 19px 30px;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;

  &--interior {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-hovered;
    }

    &:active {
      background-color: $color-primary-hovered;
    }
  }

  &--toy {
    background-color: $color-complementary;

    &:hover {
      background-color: $color-complementary-hovered;
    }

    &:active {
      background-color: $color-complementary-hovered;
    }
  }

  @media (min-width: $width-medium) {
    width: 50%;
  }

  @media (min-width: $width-large) {
    width: 50%;
  }
}

.hero__link-text {
  display: block;
  width: 130px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $color-white;
  text-align: left;
}

.hero__link-icon {
  display: block;

  @include reset;
  background-repeat: no-repeat;
  background-position: center;

  &--interior {
    width: 42px;
    height: 65px;
    background-image: url("../img/icon-interior.svg");
  }

  &--toy {
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-toy.svg");
  }
}
