.order-form {
  width: 100%;

  @include reset;
  margin-top: 26px;
  margin-bottom: 55px;
}

.order-form__inner {
  @include positioner-small;

  @media (min-width: $width-medium) {
    @include positioner-medium;
  }

  @media (min-width: $width-large) {
    width: 930px;
    margin: 0 auto;
  }
}

.order-form__text {
  @include reset;

  font-size: 13px;
  line-height: 24px;

  @media (min-width: $width-medium) {
    margin-bottom: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $width-large) {
    width: 675px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__container {
  width: 100%;
  margin-top: 24px;
}
