.order-form {
  width: 100%;

  @include reset;
  margin-top: 26px;
  margin-bottom: 55px;

  @media (min-width: $width-medium) {
    margin-top: 76px;
  }

  @media (min-width: $width-large) {
    margin-top: 121px;
    margin-bottom: 0;
  }
}

.order-form__text-wrapper {
  @include positioner-small;

  @media (min-width: $width-medium) {
    @include positioner-medium;
  }

  @media (min-width: $width-large) {
    width: 1050px;
    margin: 0 auto;
    padding-left: 175px;
  }
}

.order-form__text {
  @include reset;

  font-size: 13px;
  line-height: 24px;

  @media (min-width: $width-medium) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $width-large) {
    width: 675px;
    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__container {
  width: 100%;
  margin-top: 24px;

  @media (min-width: $width-medium) {
    margin-top: 57px;
  }
}
