.order-form {
  width: 100%;

  @include reset;
  margin-bottom: 55px;
}

.order-form__inner {
  @include positioner-small;
  padding-top: 23px;

  @media (min-width: $width-medium) {
    @include positioner-medium;
    padding-top: 80px;
  }

  @media (min-width: $width-large) {
    width: 930px;
    margin: 0 auto;
  }
}

.order-form__text {
  @include reset;
  margin-bottom: 14px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $width-medium) {
    margin-bottom: 50px;
  }

  @media (min-width: $width-large) {
    width: 675px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__container {
  width: 100%;
}
