.page-footer {
  width: auto;
  // min-height: 160px;
  padding: 30px 0;
  background-color: $color-background;

  @media (min-width: $width-medium) {
    margin-top: 60px;
    padding: 40px 0;
  }

  @media (min-width: $width-large) {
    @include reset;
    margin-top: 50px;
  }
}

.page-footer__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include positioner-small;
  padding: 0;

  @media (min-width: $width-medium) {
    @include positioner-medium;
    // padding-top: 20px;
  }

  @media (min-width: $width-large) {
    @include positioner-large;
    padding: 45px 0 44px;
  }
}

.page-footer__logo {
  display: none;
  text-align: left;

  @media (min-width: $width-medium) {
    display: block;
    width: 220px;
  }

  @media (min-width: $width-large) {
    width: 350px;
  }
}

.page-footer__socials {
  width: 100%;

  &::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 25px;
    border-bottom: 1px solid $color-border;
  }

  @media (min-width: $width-medium) {
    width: 180px;
    margin-bottom: 0;
    padding-top: 15px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $width-large) {
    width: 350px;
    margin-right: auto;
  }
}

.page-footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include reset-ul;

  @media (min-width: $width-medium) {
    justify-content: space-between;
  }

  @media (min-width: $width-large) {
    width: 160px;
    margin: 0 auto;
  }
}

.page-footer__social-item {
  margin: 0;
  margin-right: 21px;
  font-size: 0;

  &:last-child {
    margin-right: 0;
  }

  @media (min-height: $width-medium) {
    margin: 0;
  }
}

.page-footer__copyright {
  width: 260px;

  @media (min-width: $width-medium) {
    width: 220px;
  }
}
