.popular {
  position: relative;

  @include reset;
  margin-top: 27px;
  overflow: hidden;

  @media (min-width: $width-medium) {
    margin-top: 45px;
  }

  @media (min-width: $width-large) {
    margin-top: 70px;
  }
}

.popular__inner {
  width: 260px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $width-medium) {
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: $width-large) {
    width: 1050px;
    margin: 0 auto;
  }
}

.popular__item {
  position: relative;
  width: 100%;

  @media (min-width: $width-large) {
    padding-left: 45px;
  }
}

.popular__header {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-bottom: 42px;

  @media (min-width: $width-medium) {
    width: auto;
    height: 50px;
    margin-bottom: 48px;
    padding: 0;
  }

  @media (min-width: $width-large) {
    width: 700px;
    margin-top: 50px;
    margin-bottom: 57px;
    padding: 0;
    padding-left: 125px;
  }
}

.popular__title {
  @include reset;
  margin-bottom: 6px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $color-black;

  @media (min-width: $width-medium) {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  @media (min-width: $width-large) {
    font-size: 53px;
    line-height: 57px;
  }
}

.popular__label {
  position: absolute;
  bottom: 0;
  display: block;

  @include reset;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $color-primary;

  @media (min-width: $width-medium) {
    top: 12px;
    right: 13px;
    width: 100px;
    margin: 0;
    line-height: 17px;
  }

  @media (min-width: $width-large) {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100px;
    line-height: 17px;
  }
}

.popular__text {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: $width-medium) {
    flex-direction: column;
    width: 100%;
    padding-right: 375px;
  }

  @media (min-width: $width-large) {
    width: 100%;
    padding-right: 585px;
    padding-left: 130px;
  }
}

.popular__description {
  width: auto;
  margin: 0;
  padding: 0;

  @media (min-width: $width-medium) {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $width-large) {
    margin-bottom: 32px;
  }
}

.popular__parameters {
  @include width-full;
  margin-top: 15px;
  margin-bottom: 28px;
  padding: 0;
  line-height: 20px;
  border-spacing: 0;

  @media (min-width: $width-medium) {
    // width: 50%;
    margin-bottom: 54px;
  }

  @media (min-width: $width-large) {
    margin-bottom: 108px;
  }
}

.popular__option {
  width: 97px;
  padding: 10px 0;
  padding-right: 13px;
  line-height: 20px;
  text-align: left;
  border-bottom: 1px solid $color-border;
}

.popular__option-value {
  padding: 10px 0;
  line-height: 20px;
  text-align: left;
  border-bottom: 1px solid $color-border;
}

.popular__picture {
  display: block;
  width: 260px;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  text-align: center;

  @media (min-width: $width-medium) {
    position: absolute;
    top: 10px;
    right: 0;
    width: 334px;
    margin: 0;
  }

  @media (min-width: $width-large) {
    top: -157px;
    width: 525px;
  }
}

.popular__image {
  max-width: 100%;
}

.popular__price-tag {
  width: 100%;

  @include reset;
  text-align: center;

  @media (min-width: $width-medium) {
    // width: 50%;
    text-align: left;
  }

  @media (min-width: $width-large) {
    width: 350px;
    padding-right: 54px;
  }
}

.popular__price {
  display: block;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $width-medium) {
    margin: 0;
    margin-left: 70px;
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px;
  }
}
