.popular {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;

  &::after {
    content: "";
    display: block;
    height: 30px;
    margin-top: 35px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: contain;
  }
}

.popular__inner {
  margin: 0 auto;
  padding: 0;
}

.popular__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.popular__label {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.popular__description {
  margin: 0;
  padding: 0;
}

.popular__parameters {
  width: 100%;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 25px;
  padding: 0;
}

.popular__option {
  padding: 10px 0;
  line-height: 20px;
  text-align: left;
  border-bottom: 1px solid #ececec;
}

.popular__option-value {
  padding: 10px 0;
  line-height: 20px;
  text-align: left;
  border-bottom: 1px solid #ececec;
}

.popular__picture {
  margin: 0;
  padding: 0;
  text-align: center;
}

.popular__image {
  width: 100%;
}

.popular__price-tag {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.popular__price {
  display: block;
  padding: 25px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
}

.popular__btn-order {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444;
  }
}
