.popular {
  position: relative;

  @include reset;
  padding-bottom: 10px;
  overflow: hidden;
}

.popular__inner {
  @include reset;
  @include positioner-small;

  @media (min-width: $width-medium) {
    @include positioner-medium;
    margin-bottom: 50px;
    padding-top: 30px;
  }

  @media (min-width: $width-large) {
    @include positioner-large;
    height: 765px;
    margin-bottom: 20px;
    padding-top: 40px;
  }
}

.popular__item {
  position: relative;
  width: 100%;
}

.popular__header {
  width: 100%;

  @media (min-width: $width-medium) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 50px;
    margin-bottom: 55px;
  }

  @media (min-width: $width-large) {
    z-index: 2;
    width: 700px;
  }
}

.popular__title {
  @include reset;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $color-black;

  @media (min-width: $width-medium) {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  @media (min-width: $width-large) {
    order: 1;
    font-size: 53px;
    line-height: 57px;
  }
}

.popular__label {
  display: block;

  @include reset;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-primary;

  @media (min-width: $width-medium) {
    width: 100px;
    margin: 0;
    line-height: 17px;
  }

  @media (min-width: $width-large) {
    width: 100px;
    margin: 0;
    line-height: 17px;
  }
}

.popular__text {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $width-medium) {
    width: 100%;
    flex-direction: column;
  }

  @media (min-width: $width-large) {
    z-index: -1;
    width: 100%;
    flex-direction: column;
  }
}

.popular__description {
  width: auto;
  margin: 0;
  padding: 0;

  @media (min-width: $width-medium) {
    width: 50%;
    padding-right: 40px;
  }

  @media (min-width: $width-large) {
    width: 350px;
    margin-left: 175px;
    padding-right: 54px;
  }
}

.popular__parameters {
  @include width-full;
  margin-top: 40px;
  margin-bottom: 25px;
  padding: 0;

  @media (min-width: $width-medium) {
    width: 50%;
  }

  @media (min-width: $width-large) {
    width: 350px;
    margin-left: 175px;
    padding-right: 54px;
  }
}

.popular__option {
  padding: 10px 0;
  line-height: 20px;
  text-align: left;
  border-bottom: 1px solid $color-border;
}

.popular__option-value {
  padding: 10px 0;
  line-height: 20px;
  text-align: left;
  border-bottom: 1px solid $color-border;
}

.popular__picture {
  width: 260px;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $width-medium) {
    position: absolute;
    top: 0;
    right: 0;
    width: 334px;
  }

  @media (min-width: $width-large) {
    top: -70px;
    width: 525px;
  }
}

.popular__image {
  max-width: 100%;
}

.popular__price-tag {
  width: 100%;

  @include reset;
  text-align: center;

  @media (min-width: $width-medium) {
    width: 50%;
  }

  @media (min-width: $width-large) {
    width: 350px;
    margin-left: 175px;
    padding-right: 54px;
  }
}

.popular__price {
  display: block;
  padding: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
