.presentations {
  width: auto;

  @include reset;

  @media (min-width: $width-large) {
    margin-top: 60px;
  }
}

.presentations__inner {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $width-medium) {
    width: 100%;
    margin: 0;
    margin-bottom: 63px;
  }

  @media (min-width: $width-large) {
    width: 100%;

    @include reset;
    margin-bottom: 105px;
  }
}

.presentations__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;
  padding: 0;
  padding-bottom: 32px;
  border: 1px solid $color-border;

  @media (min-width: $width-medium) {
    width: 668px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 11px;
  }

  @media (min-width: $width-large) {
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1050px;
    // height: 455px;
    margin: 0 auto;
    padding: 0 60px 60px 760px;
  }
}

.presentations__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 23px 33px;

  @media (min-width: $width-medium) {
    order: 1;
    width: 580px;
    padding-top: 11px;
  }

  @media (min-width: $width-large) {
    flex-shrink: 0;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 230px;
    margin: 0;
    margin-top: 38px;
    padding: 0;
  }
}

.presentations__title-text {
  @include reset;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-black;
  text-align: left;

  @media (min-width: $width-medium) {
    order: 1;
    width: 580px;
    font-size: 20px;
  }

  @media (min-width: $width-large) {
    order: 1;
    width: 50%;
    flex-shrink: 0;
    font-size: 20px;
  }
}

.presentations__title-icon {
  display: block;
  width: 35px;
  height: 25px;
  margin-right: 25px;
  margin-bottom: 11px;

  @media (min-width: $width-medium) {
    margin: 0;
    margin-right: 30px;
    padding: 0;
  }

  @media (min-width: $width-large) {
    margin-bottom: 28px;
  }
}

.presentations__icon {
  width: 32px;
  fill: $color-primary;
}

.presentations__video {
  max-width: 100%;

  @include reset;
  margin-bottom: 30px;

  @media (min-width: $width-medium) {
    margin-bottom: 3px;
  }

  @media (min-width: $width-large) {
    position: absolute;
    left: 0;
    top: 0;
    width: 682px;

    & picture {
      width: 100%;
    }
  }
}

.presentations__text {
  width: 190px;

  @include reset;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $width-medium) {
    order: 1;
    width: 580px;
    margin: 0 auto;
    margin-top: 8px;
    margin-left: 39px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $width-large) {
    display: block;
    width: 230px;
    margin: 0;
    margin-top: 34px;
    font-size: 15px;
    line-height: 30px;
  }
}
