.presentations {
  width: auto;

  @include reset;
  margin-bottom: 55px;
}

.presentations__inner {
  @include positioner-small;
}

.presentations__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;
  padding: 0;
  padding-bottom: 30px;
  border: 1px solid $color-border;
}

.presentations__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 0;
}

.presentations__title-text {
  @include reset;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-black;
  text-align: left;
}

.presentations__title-icon {
  display: block;
  width: 35px;
  height: 25px;
  margin-right: 25px;
}

.presentations__icon {
  width: 32px;
  height: 23px;
}

.presentations__icon-path {
  fill: $color-primary;
}

.presentations__video {
  max-width: 100%;

  @include reset;
}

.presentations__text {
  width: 205px;

  @include reset;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $width-medium) {
  .presentations {
    width: auto;
  }

  .presentations__inner {
    @include positioner-medium;
  }

  .presentations__title {
    order: 1;
  }

  .presentations__video {
    order: 0;
    width: auto;
  }

  .presentations__text {
    order: 1;
    width: auto;
  }
}

@media (min-width: $width-large) {
  .presentations__inner {
    @include positioner-large;
  }
}
