.product {
  @include width-full;
  padding: 0;

  @media (min-width: $width-medium) {
    width: 668px;
    margin: 0 50px;
  }

  @media (min-width: $width-large) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.product__container {
  @include positioner-small;
  padding: 0;
  border: 1px solid $color-border;

  @media (min-width: $width-medium) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
  }

  @media (min-width: $width-large) {
    margin: 0;
    padding: 0;
  }
}

.product__picture {
  @include width-full;
  margin-bottom: 30px;
  padding: 0;

  @media (min-width: $width-medium) {
    width: 50%;
    margin-bottom: 0;
  }

  @media (min-width: $width-large) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.product__text {
  @media (min-width: $width-medium) {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
  }

  @media (min-width: $width-large) {
    margin: 0;
    padding: 0;
  }
}

.product__title {
  max-width: 200px;
  margin: 0 25px;
  margin-bottom: 15px;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-black;
}

.product__description {
  display: block;
  margin: 0 25px;
  margin-bottom: 30px;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
}

.product__price-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 210px;

  @include reset;

  @media (min-width: $width-medium) {
    margin-top: auto;
  }

  @media (min-width: $width-large) {
    margin: 0;
    padding: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    margin: 0 30px;
    border: 1px solid $color-border;
  }
}

.product__price {
  display: block;
  padding: 28px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: $color-black;
}

.product__basket-link {
  display: block;
  padding: 28px;
  text-decoration: none;
}

.product__basket-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
