.reviews {
  @include reset;
  padding-bottom: 73px;

  @media (min-width: $width-medium) {
    position: relative;
    padding: 77px 0;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px auto;
  }

  @media (min-width: $width-large) {
    margin-bottom: 138px;
    padding-top: 70px;
    padding-bottom: 122px;
    background-position: 50px 0;
  }
}

.reviews__inner {
  position: relative;

  @include positioner-small;

  @media (min-width: $width-medium) {
    @include positioner-medium;
  }

  @media (min-width: $width-large) {
    @include positioner-large;
  }
}

.reviews__title {
  @include reset;
  margin-bottom: 23px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $color-black;

  @media (min-width: $width-medium) {
    display: block;
    margin-bottom: 10px;
    margin-left: -5px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $width-large) {
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  width: 100%;

  @include reset-ul;
  margin-bottom: 28px;

  @media (min-width: $width-medium) {
    width: 100%;
    margin: 0;
    margin-top: 48px;
  }

  @media (min-width: $width-large) {
    width: 875px;
    margin-left: 175px;
  }
}

.reviews__item {
  @include reset;
}

.reviews__blockquote {
  width: auto;

  @include reset;

  @media (min-width: $width-large) {
    width: 770px;
  }
}

.reviews__text {
  @include reset;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 30px;
  text-align: left;

  @media (min-width: $width-medium) {
    margin-bottom: 59px;
    font-size: 17px;
  }

  @media (min-width: $width-large) {
    margin-bottom: 39px;
  }
}

.reviews__author-name {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: $color-black;

  @media (min-width: $width-medium) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $width-large) {
    font-size: 17px;
    line-height: 24px;
  }
}

.reviews__author-nickname {
  display: block;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: $color-basic;

  // @media (min-width: $width-medium) {
  // }

  // @media (min-width: $width-large) {
  //   font-size: 17px
  // }
}

.reviews__toggles {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;

  @include reset;
  margin-bottom: 38px;
  border: 1px solid $color-border;

  @media (min-width: $width-medium) {
    position: absolute;
    bottom: -36px;
    right: 5px;
    width: 167px;
    border: none;

    &::after {
      display: none;
    }
  }

  @media (min-width: $width-large) {
    right: 0;
    width: 175px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: $color-border;
  }
}

.reviews__toggle {
  display: block;
  width: 50%;
  padding: 25px 35px;
  font-size: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--left {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--right {
    background-image: url("../img/icon-right-arrow.svg");
  }
}
