.reviews {
  @include reset;
  margin-top: 60px;

  @media (min-width: $width-medium) {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &::after {
    content: "";
    height: 30px;
    display: block;
    margin-top: 40px;
  }
}

.reviews__inner {
  position: relative;

  @include positioner-small;

  @media (min-width: $width-medium) {
    @include positioner-medium;
  }

  @media (min-width: $width-large) {
    @include positioner-large;
  }
}

.reviews__title {
  @include reset;
  padding-bottom: 35px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $color-black;

  @media (min-width: $width-medium) {
    display: block;
    margin-bottom: 10px;
    padding-top: 60px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $width-large) {
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  width: 100%;

  @include reset-ul;
  margin-bottom: 35px;

  @media (min-width: $width-medium) {
    width: 100%;
  }

  @media (min-width: $width-large) {
    width: 875px;
    margin-left: 175px;
  }
}

.reviews__item {
  @include reset;
}

.reviews__blockquote {
  width: auto;

  @include reset;
}

.reviews__text {
  @include reset;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  color: $color-black;
}

.reviews__author-nickname {
  font-size: 17px;
  line-height: 25px;
  color: $color-basic;
}

.reviews__toggles {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;

  @include reset;
  margin-bottom: 35px;
  border: 1px solid $color-border;

  @media (min-width: $width-medium) {
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 167px;
    border: none;

    &::after {
      display: none;
    }
  }

  @media (min-width: $width-large) {
    width: 175px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: $color-border;
  }
}

.reviews__toggle {
  display: block;
  width: 50%;
  padding: 25px 35px;
  font-size: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--left {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--right {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

.reviews__button {
  width: 260px;

  @media (min-width: $width-medium) {
    position: absolute;
    top: 60px;
    right: 0;
    width: 175px;
  }

  @media (min-width: $width-large) {
    width: 175px;
  }
}
