.reviews {
  width: 100%;
  margin: 0;
  margin-top: 60px;
  padding: 0;

  &::after {
    content: "";
    height: 30px;
    display: block;
    margin-top: 40px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: contain;
  }
}

.reviews__inner {
  width: 260px;
  margin: 0 30px;
}

.reviews__title {
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;
}

.reviews__list {
  width: 100%;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__blockquote {
  margin: 0;
  padding: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
}

.reviews__author-name {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  color: $color-black;
}

.reviews__author-nickname {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 25px;
  color: $color-basic;
}

.reviews__toggles {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: 1px solid $color-border;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: $color-border;
  }
}

.reviews__toggle {
  display: block;
  width: 50%;
  padding: 25px 35px;
  font-size: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--left {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--right {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

