.social-link {
  width: 25px;
  padding: 10px;

  &:hover .social-link__icon-path {
    fill: #46c1ae;
  }

  &:active .social-link__icon-path {
    fill: #46c1ae;
    fill-opacity: 0.3;
  }
}

.social-link__icon {
  max-width: 100%;
}
